.artistImage{
    animation: fadeIn 0.5s;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    align-self: center;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.headers{
    font-weight: bold;
    font-size: 30px;
}

h5 {
    color: rgb(90, 210, 216);
}

@media only screen and (max-width: 768px) {
    .artistImage{
        width: 90%;
        height: 90%;
    }
    .topTrackNum{
        display: none;
    }
    .headers2{
        overflow-x: scroll;
        white-space: nowrap;
    }    
}

@media(min-height: 1000px){
    .artistImage{
        width: 740px;
        height: 640px;
    }
}